@tailwind utilities;

@layer utilities {
  .debug {
    @apply border border-rose-600;
  }

  .debug2 {
    @apply border border-emerald-600;
  }
  
  .debug3 {
    @apply border border-indigo-600;
  }
  
  .debug4 {
    @apply border border-amber-600;
  }
}

@layer utilities {
  .flex-centered {
    @apply flex min-h-svh w-full items-center justify-center;
  }

  .flex-center-start {
    @apply flex items-center justify-start;
  }

  .flex-center-end {
    @apply flex items-center justify-end;
  }

  .flex-center-center {
    @apply flex items-center justify-center;
  }

  .flex-center-between {
    @apply flex items-center justify-between;
  }

  .flex-col-start-between {
    @apply flex flex-col items-start justify-between;
  }

  .flex-col-end-between {
    @apply flex flex-col items-end justify-between;
  }
}
